@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #080710;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

form,
.profileCard {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

input {
  background-color: rgba(255, 255, 255, 0.07);
}

.social div {
  background-color: rgba(255, 255, 255, 0.27);
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.img_container:hover img {
  opacity: 0.4;
}
.img_container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
